//- Footer
footer.footer
  .footer-container
    .footer-section
      h4 About
      p Authentic Vietnamese restaurant serving traditional cuisine since 1994.

    .footer-section
      h4 Hours
      p Monday - Sunday
      p 11:00 AM - 10:00 PM

    .footer-section
      h4 Contact
      p Phone: (+84) 123-456-789
      p Email: hello@phosaigon.com

    .footer-section
      h4 Address
      p 123 Vietnamese Street
      p District 1, Ho Chi Minh City