//- Navigation
nav.navbar
  .navbar-container
    .navbar-logo
      a(href="#") PHỞ SAIGON
    ul.nav-menu
      li
        a(href="#home") Home
      li
        a(href="#menu") Menu
      li
        a(href="#booking") Booking
      li
        a(href="/admin") Admin