// Navigation
nav.navbar
  .navbar-container
    .navbar-logo
      span.logo-icon 🍜
      h1 Phở Saigon
    ul.navbar-menu
      li: a(href="#") Trang chủ
      li: a(href="#") Thực đơn
      li: a(href="#") Đặt bàn
      li: a(href="#") Liên hệ
    button.navbar-cta Đặt bàn