doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Phở Saigon | Authentic Vietnamese Cuisine
    meta(name="description" content="Experience authentic Vietnamese flavors at Phở Saigon. Book your table today and enjoy our traditional recipes.")
    link(rel="stylesheet" href="/css/style.css")

  body 
    include ../partials/header.pug
  
    block main 
      
